<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jswl.dao.mapper.UserModelMapper">
  <resultMap id="BaseResultMap" type="com.jswl.dao.models.UserModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="visit" jdbcType="VARCHAR" property="visit" />
    <result column="clientwill" jdbcType="VARCHAR" property="clientwill" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="advicetype" jdbcType="VARCHAR" property="advicetype" />
    <result column="visit_date" jdbcType="VARCHAR" property="visitDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, telphone, visit, clientwill, source, advicetype, visit_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jswl.dao.models.UserModel">
    insert into user (id, name, telphone, 
      visit, clientwill, source, 
      advicetype, visit_date)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{visit,jdbcType=VARCHAR}, #{clientwill,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{advicetype,jdbcType=VARCHAR}, #{visitDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jswl.dao.models.UserModel">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="telphone != null">
        telphone,
      </if>
      <if test="visit != null">
        visit,
      </if>
      <if test="clientwill != null">
        clientwill,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="advicetype != null">
        advicetype,
      </if>
      <if test="visitDate != null">
        visit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="visit != null">
        #{visit,jdbcType=VARCHAR},
      </if>
      <if test="clientwill != null">
        #{clientwill,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="advicetype != null">
        #{advicetype,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        #{visitDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jswl.dao.models.UserModel">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="visit != null">
        visit = #{visit,jdbcType=VARCHAR},
      </if>
      <if test="clientwill != null">
        clientwill = #{clientwill,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="advicetype != null">
        advicetype = #{advicetype,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        visit_date = #{visitDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jswl.dao.models.UserModel">
    update user
    set name = #{name,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      visit = #{visit,jdbcType=VARCHAR},
      clientwill = #{clientwill,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      advicetype = #{advicetype,jdbcType=VARCHAR},
      visit_date = #{visitDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>